body{
				background-color: #f5f5f5;
			}
			.toubu{
				width: auto;
				height: 70px;
				background:#ffffff ;
				/* position: fixed; */
			}
			
			.toubu .tools{
				color: #6ccac9;
				line-height: 65px;
				display: inline;
				padding-left: 20px;
			}
			.toubu .toolss{
				color: #6ccac9;
				line-height: 65px;
				display: inline;
			}
			.toubu .toolss ul li{
				display: inline;
			}

			.daohang{
				width: 200px;
				height:790px;
				/* padding-top: 100px; */
				background: #ffffff;
				display: inline-block;
				margin-top: 10px;
				margin-left: 15px;
				border-radius: 5px;
				vertical-align: top;
				background-position: fixed;
			}
			.daohang ul{
				list-style: none;
				margin: 0;
				padding: 10px;
			}
			.neirong{
				width: 1650px;
				height: 790px;
				background: #ffffff;
				display: inline-block;
				margin-top: 10px;
				margin-left: 15px;
				border-radius: 5px;
				}
			.neirong .chaxun{
				width: 1650px;
				height: 735px;
				border: 1px solid #DCDCDC;
				border-radius: 5px;
			}
			.dibu{
				width: auto;
				height: auto;
				background: #ffffff;
			}
			.neirong .chaxun .sousuoyangshi{
				width: 1620px;
				height: 80px;
				background: #f2f2f2;
				margin-top: 10px;
				margin-left: 15px;
				border-radius: 5px;
			}
			#sousuo{
				margin: 20px; 
				width: 200px;
				height: 40px;
				border-radius: 3px;
			}
			#anniu{
				margin: 20px; 
				width: 200px;
				height: 40px;
				float: right;
				font-size: 20px;
				font-family: "微软雅黑";
				border-radius: 4px;
				background: #409EFF;
			}
			/* .nav >li>ul.levell{
				display: none;
			}
			#nav>li:hover>ul.levell{
				display: block;
			} */
			a:hover,a:active{
				background-color: #2E8B57;
				font-size:130%;
			}